﻿@using System.Web.Security
<ul class="nav navbar-nav navbar-right">
    @if (Session["userEmail"] != null)
    {
        <li>@Html.ActionLink(Session["userEmail"].ToString(), "Index", "Home")</li>
        <li>@Html.ActionLink("Log Out", "LogOut", "Account")</li>

    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Log In", "Login", "Account")</li>
    }
</ul>
