﻿@using ShortLinkApp.Models
@using BusinessLogic

@model HomeIndexModel
@{
    ViewBag.Title = "Index";
}

<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                @Html.EditorFor(model => model.Link.OriginalUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.PageInfo.Current, Model.PageInfo.Current)
                @Html.HiddenFor(model => model.Sort.SortBy, new { Value = Model.Sort.SortBy })
                @Html.HiddenFor(model => model.Sort.ascendingOrder, new { Value = Model.Sort.ascendingOrder })
            </td>
            <td>
                <input type="submit" value="Shorten Url" class="btn btn-default" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.ValidationMessageFor(model => model.Link.OriginalUrl, "", new { @class = "text-danger" })
            </td>
            <td></td>
        </tr>
    </table>
}
@if (Model.List.Any())
{
    <br />
    <table class="table">
        <tr>
            <th>
                @if (Model.Sort.SortBy == null || !Model.Sort.SortBy.Equals(SortByOriginalUrl.ORIGINAL_URL))
                {
                    @Html.ActionLink(
                    "► Real Url",
                    "Index",
                    new { page = Model.PageInfo.Current, sortBy = SortByOriginalUrl.ORIGINAL_URL },
                    new { @class = "black-color" }
                )
                }
                else
                {
                    if (Model.Sort.ascendingOrder == null || (bool)Model.Sort.ascendingOrder == true)
                    {
                        @Html.ActionLink(
                        "▼ Real Url",
                        "Index",
                        new { page = Model.PageInfo.Current, sortBy = SortByOriginalUrl.ORIGINAL_URL, ascendingOrder = false },
                        new { @class = "black-color" }
                    )
                    }
                    else
                    {
                        @Html.ActionLink(
                        "▲ Real Url",
                        "Index",
                        new { page = Model.PageInfo.Current, sortBy = SortByOriginalUrl.ORIGINAL_URL, ascendingOrder = true },
                        new { @class = "black-color" }
                    )
                    }
                }
            </th>
            <th>
                @if (Model.Sort.SortBy == null || !Model.Sort.SortBy.Equals(SortByShortUrl.SHORT_URL))
                {
                    @Html.ActionLink(
                    "► Short Url",
                    "Index",
                    new { page = Model.PageInfo.Current, sortBy = SortByShortUrl.SHORT_URL },
                    new { @class = "black-color" }
                )
                }
                else
                {
                    if (Model.Sort.ascendingOrder == null || (bool)Model.Sort.ascendingOrder == true)
                    {
                        @Html.ActionLink(
                        "▼ Short Url",
                        "Index",
                        new { page = Model.PageInfo.Current, sortBy = SortByShortUrl.SHORT_URL, ascendingOrder = false },
                        new { @class = "black-color" }
                    )
                    }
                    else
                    {
                        @Html.ActionLink(
                        "▲ Short Url",
                        "Index",
                        new { page = Model.PageInfo.Current, sortBy = SortByShortUrl.SHORT_URL, ascendingOrder = true },
                        new { @class = "black-color" }
                    )
                    }
                }
            </th>
            <th>
                @if (Model.Sort.SortBy == null || !Model.Sort.SortBy.Equals(SortByClickCount.CLICK_COUNT))
                {
                    @Html.ActionLink(
                    "► Clicks",
                    "Index",
                    new { page = Model.PageInfo.Current, sortBy = SortByClickCount.CLICK_COUNT },
                    new { @class = "black-color" }
                )
                }
                else
                {
                    if (Model.Sort.ascendingOrder == null || (bool)Model.Sort.ascendingOrder == true)
                    {
                        @Html.ActionLink(
                        "▼ Clicks",
                        "Index",
                        new { page = Model.PageInfo.Current, sortBy = SortByClickCount.CLICK_COUNT, ascendingOrder = false },
                        new { @class = "black-color" }
                    )
                    }
                    else
                    {
                        @Html.ActionLink(
                        "▲ Clicks",
                        "Index",
                        new { page = Model.PageInfo.Current, sortBy = SortByClickCount.CLICK_COUNT, ascendingOrder = true },
                        new { @class = "black-color" }
                    )
                    }
                }
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    <a href="@item.HttpUrl">@item.OriginalUrl</a>
                </td>
                <td>
                    <a href="@Application.DOMAIN@item.ShortUrl">@Application.DOMAIN@item.ShortUrl</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClickCount)
                </td>
                <td>
                    @using (Html.BeginForm("Hide", "Home"))
                    {
                        @Html.HiddenFor(model => model.Link.ShortUrl, new {Value = item.ShortUrl })
                        @Html.HiddenFor(model => model.PageInfo.Current, Model.PageInfo.Current)
                        @Html.HiddenFor(model => model.Sort.SortBy, new { Value = Model.Sort.SortBy })
                        @Html.HiddenFor(model => model.Sort.ascendingOrder, new { Value = Model.Sort.ascendingOrder })
                        <input type="submit" value="Hide" class="btn btn-default" />
                    }
                </td>
            </tr>
        }

    </table>
}

@if (Model.PageInfo.Total > 1)
{
    <hr />
    if (Model.PageInfo.Current == null)
    {
        Model.PageInfo.Current = 1;
    }
    <div id="page">
        @if (Model.PageInfo.Current != 1)
        {
            <div>
            @Html.ActionLink(
                "Prev",
                "Index",
                new { page = Model.PageInfo.Current - 1, sortBy = Model.Sort.SortBy, ascendingOrder = Model.Sort.ascendingOrder}
            )
            </div>
        }
        <div class="current">
            @Model.PageInfo.Current
        </div>
        @if (Model.PageInfo.Current != Model.PageInfo.Total)
        {
            <div>
                @Html.ActionLink(
                    "Next",
                    "Index",
                    new { page = Model.PageInfo.Current + 1, sortBy = Model.Sort.SortBy, ascendingOrder = Model.Sort.ascendingOrder }
                )
            </div>
        }
    </div>
}

@if (Session["userEmail"] == null && Model.List.Any())
{
    <div id="snackbar">
        <span class="info">&#9432</span>
        <span class="message">Log In to save your links permanently.</span>
    </div>
}

