﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.black-color,
.black-color:hover {
    color: #000;
}

#page {
    clear: both;
    width: 100%;
    height: 20px;
    text-align: center;
}

#page > div {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333;
}

.current {
    background-color: #ccc;
}

#snackbar {
    position: fixed;
    left: 0;
    top: 30%;
    padding: 15px;
    border-radius: 0px 3px 3px;
    height: 50px;
    line-height: 20px;
    background: #333;
    color: #fff;
}

.info {
    font-size: 30px;
}

#snackbar > .message {
    display: none;
}

#snackbar > .info {
}

#snackbar:hover > .message {
    display: inline;
}

#snackbar:hover > .info {
    display: none;
}